* {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

button {
  background: none;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-weight: 600;
  cursor: pointer;
}

select {
  padding: 4px 10px;
  background: none;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  background-color: #f5f5f5;
}

.btnPrimary {
  background-color: cornflowerblue;
  color: white;
}

.btnPrimary:hover {
  background-color: rgb(83, 129, 214);
}

.btnSecondary {
  background-color: coral;
  color: white;
}

.btnSecondary:hover {
  background-color: rgb(226, 113, 72);
}

.btnDanger{
    background-color: #fb3535;
    color: white;
}

.btnDanger:hover{
    background-color: #e43535;
}


/* APP NAVBAR */
.title {
  text-align: center;
  margin-bottom: 4rem;
  background-color: #f5f5f5;
  border-bottom: 1px solid #f0f0f0;
  padding: 10px;
  user-select: none;
}

.content {
  width: 500px;
  margin: auto;
  padding: 0 10px;

  textarea {
    width: 500px;
    margin-top: 0.3rem;
    padding: 10px;
    border: none;
    background-color: #f5f5f5;
    border-radius: 5px;
  }

  textarea:focus {
    outline: none;
  }

  .textToSpeech {
    textarea {
        resize: vertical !important;
     /* height: 150px; */
    }
  }

  .options {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .textContent {
    margin-top: 3rem;
  }

  .textContent .textToSpeech {
    margin-top: 0.3rem;
  }

  .textField {
    padding: 10px;
/*     overflow: hidden; */
  }
}

@media (max-width: 769px) {
  .content {
    width: 400px;
  }
}

@media (max-width: 600px) {
  .content {
    width: 500px;
  }
}

@media (max-width: 500px) {
  .content {
    width: 340px;
  }
  textarea {
    width: 330px !important;
  }
}
